* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    align-items: center;
}
.drawing-container {
    border: 1px black solid;
    height: 500px;
    width: 500px;
    margin: 8px;
    padding: 0;
    display: flex;
}
.control-container {
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer {
    background-color: black;
    color: white;
    position: fixed;
    min-width: max-content;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 0;
}
.footer p{
    margin: 3px;
}